/* https://coolors.co/palette/003049-d62828-f77f00-fcbf49-eae2b7 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  margin: 0;
  font-family: "Roboto Slab";
  background-color: #fcbf49;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3 {
  color: #eae2b7;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* Nav */
.Navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003049;
}

.Navbar ul {
  display: flex;
  justify-content: end;
  width: 50vw;
}

.nav-link {
  font-size: 1.3em;
  margin: 5px 10px;
  color: #eae2b7;
}

.title {
  margin-left: 15px;
  justify-self: start;
}

/* Home styling */
.home {
  padding: 5px;
}

/* Game styling */
.game {
  min-height: 60vh;
  padding: 10px;
  background-color: #003049;
  border-radius: 10px;
}

/* Guess form styling */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 80vw;
  height: 30px;
  margin: 10px;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border-color: black;
}

button {
  height: 36px;
  font-weight: bold;
  background-color: #f77f00;
  color: #eae2b7;
  border: none;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

.option-buttons {
  display: flex;
  justify-content: space-evenly;
}

.option-button {
  min-width: 80px;
  width: 30vw;
}

/* Past Guesses styling */

.past-guess {
  display: flex;
  justify-content: space-evenly;
}

.past-guess-container {
  display: flex;
  justify-content: center;
}

.past-guess-table {
  table-layout: auto;
  width: 90%;
}

td,
th {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  color: #eae2b7;
}

/* Timer */
.Stopwatch {
  display: flex;
  justify-content: end;
}

/* Game end */
#new-game-div {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

#new-game-button {
  min-width: 80px;
  width: 60vw;
}
